{% extends 'base.html' %}

{% block title %}Logout Page{% endblock title %}

{% block contents %}
<div class="container d-flex justify-content-center align-items-center" style="margin-top:50px;">
  <div class="card shadow-lg p-5" style="width: 100%; max-width: 500px; border-radius: 15px; background-color: #fff;">
    <h2 class="text-center mb-4 fw-bold text-primary">Logout</h2>
    <div class="alert text-center mb-4 bg-info">
      <h5 class="mb-0 text-dark" style="color: white !important;">Anda berhasil Logout...</h5>
    </div>
    <div class="d-grid">
      <a href="{% url 'user_login' %}" class="btn btn-primary mt-4" style="width:100%">Login Kembali</a>
    </div>
  </div>
</div>
{% endblock contents %}
