{% extends 'base.html' %}

{% block title %}Password Reset Done Page{% endblock title %}

{% block contents %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="border p-3 bg-white">
        <h3>Password Reset Done Page</h3>
        <hr>
        <div class="alert alert-danger">
          <h5>Mail telah dikirim ke alamat email anda. Cukup ikuti perintahnya untuk reset password akun</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contents %}