{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile Update{% endblock title %}

{% block contents %}
<div class="row my-4">
  <div class="col-md-4"></div>
  <div class="col-md-7">
      <div class="card">
          <div class="card-header bg-primary text-white">
              Customer Update Page
          </div>
          <div class="row p-3">
              <div class="col-md-8">
                  <table class="table table-borderless">
                      <thead>
                          <span class="h4">Profile Information</span>
                          <hr>
                          <form action="{% url 'user_profile_update' %}" method="post" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{user_form|crispy}}
                            {{profile_form|crispy}}

                            <button class="btn btn-success" type="submit">Update</button>
                          </form>

                          <a class="btn btn-secondary ml-2" href="{% url 'dashboard:dashboard_index' %}">Kembali</a>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock contents %}