{% extends 'base.html' %}
{% block title %}Home Page{% endblock title %}

{% block contents %}
{% if request.user.is_authenticated and request.user.is_staff and request.user.is_superuser %}
{% include 'snippets/topside.html' %}
<div class="row justify-content-center">
  <div class="col-md-5 my-4">
      <div class="bg-white">
          <div class="card-body">
              <canvas id="myChart1" width="400" height="300"></canvas>
              <script>
                  var ctx = document.getElementById('myChart1').getContext('2d');
                  var myChart1 = new Chart(ctx, {
                      type: 'pie',
                      data: {
                          labels: [{% for pesanan in all_pesanan %} '{{pesanan.produk.nama}}', {% endfor %}],
                          datasets: [{
                              label: 'Orders',
                              data: [{% for pesanan in all_pesanan %} '{{pesanan.pemesanan_kuantitas}}', {% endfor %}],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },
                      options: {
                          responsive: true
                      }
                  });
              </script>
          </div>
      </div>
  </div>
  <div class="col-md-6 my-4">
      <div class="bg-white">
          <div class="card-body">
              <canvas id="myChart" width="400" height="300"></canvas>
              <script>
                  var ctx = document.getElementById('myChart').getContext('2d');
                  var myChart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: [{% for produk in produks %} '{{produk.nama}}', {% endfor %}],
                          datasets: [{
                              label: 'Products',
                              data: [{% for produk in produks %} {{produk.kuantitas}}, {% endfor %}],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },
                      options: {
                          responsive: true
                      }
                  });
              </script>
          </div>
      </div>
  </div>
</div>
{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}
{% endblock contents %}

