{% extends 'base.html' %}

{% block title %}Konfirmasi Hapus Page{% endblock title %}

{% block contents %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="border bg-white p-3">
        <h3>Konfirmasi Hapus Item</h3>
        <hr>
        <div class="alert alert-danger">
          <h4>Apa kamu yakin ingin menghapus item ini?</h4>
        </div>
        <form action="{% url 'dashboard:dashboard_product_delete' produk.pk %}" method="post">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="Yakin">
          <a href="{% url 'dashboard:dashboard_product' %}">
            <input class="btn btn-success" type="button" value="Tidak">
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock contents %}

