{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Products Page{% endblock title %}

{% block contents %}

{% include 'snippets/topside.html' %}

<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-md-4">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endif %}
            {% endfor %}
            <div class="card card-body">
                <h5>Add Products</h5>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{produk_form|crispy}}

                    <button class="btn btn-success" type="submit">Tambah</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">Nama</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Kuantitas</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produk in produks %}
                    <tr>
                        <td>{{produk.nama}}</td>
                        <td>{{produk.kategori}}</td>
                        <td>{{produk.kuantitas}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm mr-2" href="{% url 'dashboard:dashboard_product_update' produk.pk %}">Edit</a>
                            <a class="btn btn-danger btn-sm ml-2" href="{% url 'dashboard:dashboard_product_delete' produk.pk %}">Hapus</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contents %}
