{% extends 'base.html' %}
{% block title %}Staff Page{% endblock title %}

{% block contents %}

{% include 'snippets/topside.html' %}

<div class="row my-4 justify-content-center" style="position: relative; right:66px">
  <div class="col-md-4"></div>
  <div class="col-md-6">
      <table class="table bg-white">
          <thead class="bg-primary text-white">
              <tr>
                  <th scope="col"></th>
                  <th scope="col">Nama</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telepon</th>
              </tr>
          </thead>
          <tbody>
            {% for staff in staffs %}
              <tr>
                  <th scope="row"><a class="btn btn-primary btn-sm" href="{% url 'dashboard:dashboard_staff_detail' staff.id %}">View</a></th>
                  <td>{{staff.username}}</td>
                  <td>{{staff.email}}</td>
                  <td>{{staff.profile.telp}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock contents %}

